@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Variable.woff2') format('woff2'),
    url('./fonts/Satoshi-Variable.woff') format('woff'),
    url('./fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Satoshi', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: pre-line;
}

input,
button {
  border: 0;
  outline: 0;
  background: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  /* opcional, muda a cor do texto */
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  background: none;
  cursor: pointer;
  border: 0;
  outline: 0;
  color: inherit;
}

button {
  cursor: pointer;
  border: 0;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

ul,
li,
p {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}